<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dofus Eternal Harvest Manager - User</title>
</head>
<body>
  <span th:text="${user.getPseudo()}"></span>
  <br>
  <span th:text="${user.getContact()}"></span>
  <br>
  <span th:text="${user.getServer()}"></span>
  <br>
  <span th:text="${user.getLastConnection()}"></span>
  <br><br>
  <form method="get" action="/user">
    <input type="submit" value="Back"/>
  </form>
  <br>
  <div th:include="footer.html"></div>
</body>
</html>