<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dofus Eternal Harvest Manager - Home</title>
</head>
<body>
  <form method="get" action="/user">
    <input type="submit" value="User Information">
  </form>
  <br><br>
  <form method="get" action="/monsters">
    <input type="submit" value="User List Of Monsters">
  </form>
  <br><br>
  <form method="get" action="/soulstone_reading">
    <input type="submit" value="Soulstone Reading">
  </form>
</body>
</html>