<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dofus Eternal Harvest Manager - Soulstone Screenshots Reading Result</title>
</head>
<body>
  <ul th:each="soul : ${souls}">
    <li th:utext="${soul.getId()}"></li>
    <li th:utext="${soul.getEtat()}"></li>
    <li th:utext="${soul.getQuantite()}"></li>
  </ul>
  <br><br>
  <form method="get" action="/soulstone_reading">
    <input type="submit" value="Back"/>
  </form>
  <br>
  <div th:include="footer.html"></div>
</body>
</html>